<html>
<head>
  {% load static %}
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

<ul>
    <div align="center">
        <img src="{% static 'logo.png' %}" width="220" height="163">
      </div>

  <li><a class="active" href="TeamStatistics">Database Lookup</a></li>
  <li><a href="CurrentRanking">Tools</a></li>
</ul>

<div style="margin-left:220px;padding:1px 16px;height:1000px;">
  <h2>Pokemon</h2>
  <h3>Search for a specific Pokemon</h3>

  <!-- <form autocomplete="off" action="">
    <div class="autocomplete" style="width:300px;">
      <input id="searchBar" type="text" name="myTeam" placeholder="Team Name">
      <input type="submit">
    </div>

  </form> -->

  <script>console.log({})
  </script>

  <form autocomplete="off" action="" method="POST">
      <div class="autocomplete" style="width:235px;">
        {% csrf_token %}
        {{form.pokemon}}
        <input type="submit">
      </div>

    </form>

  <table style="width:500px">
      <tr>
        <th colspan="5">{{poke_name}}</th>
      </tr>
      <tr>
        <tr>
          <th>PokeDex #</th>
          <th>Name</th>
          <th>Type</th>
        </tr>
        {% for pokemon in pokemons %}
        <tr>
          <td>{{pokemon.numb}}</td>
          <td>{{pokemon.name}}</td>
          <td>{% for types in pokemon.types.all %}{{types.name}} {% endfor %}</td>
          <!--<td>{% for locations in pokemon.locations.all %} <b>{{locations.game.name}}</b>{{locations.name}} {% endfor %}</td>-->
        </tr>
        {% endfor %}
    </table>

</div>

<script>
  // TODO: SCRIPT TO REWRITE
  //Ross - Okay So I accidently remove all the comments if you want to see them look at master atm, made some progress, looks much diffrent but still not enough.
    function autocomplete(inp, arr) {
      let currentFocus;
      inp.addEventListener("input", function(e) {
          let curpossible, item, val = this.value;
          //removes list if present
          let x = document.getElementsByClassName("autocomplete-items");
          for (let i = 0; i < x.length; i++) {
            if (x[i] != null && inp != null) {
              x[i].parentNode.removeChild(x[i]);
            }
          }
          if (!val) {
            return false;
          }
          //sets current focus to not show user
          currentFocus = -1;
          //creates,or recreate the list of possible searches
          curpossible = document.createElement("DIV");
          curpossible.setAttribute("id", (this.id + "autocomplete-list"));
          curpossible.setAttribute("class", "autocomplete-items");
          //appends it to the form
          this.parentNode.appendChild(curpossible);
          //populates the list with search terms
          for (i = 0; i < arr.length; i++) {
            if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
              item = document.createElement("DIV");
              item.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
              item.innerHTML += arr[i].substr(val.length);
              item.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
              //checks if uses clicks it and will remove the auto serch and fill in the input box
              item.addEventListener("click", function(e) {
                  inp.value = this.getElementsByTagName("input")[0].value;
                  let x = document.getElementsByClassName("autocomplete-items");
                  for (let i = 0; i < x.length; i++) {
                    if (x[i] != null && inp != null) {
                      x[i].parentNode.removeChild(x[i]);
                    }
                  }
              });
              curpossible.appendChild(item);
            }
          }
      });

      //check if user presss key (looking for up and down arrows)
      inp.addEventListener("keydown", function(e) {
          console.log(e.keyCode)
          let x = document.getElementById(this.id + "autocomplete-list");
          if (x)
            x = x.getElementsByTagName("div");
          //if user presss down arrow key
          if (e.keyCode == 40) {
            currentFocus++;
            if (!x)
              return false;
            //need to check to make sure not out of bounds
            //will make not active if moving away from element
            x[currentFocus-1].classList.remove("autocomplete-active");
            if (currentFocus >= x.length)
              currentFocus = 0;
            if (currentFocus < 0)
              currentFocus = (x.length - 1);
            //will make active if moving to that layer
            x[currentFocus].classList.add("autocomplete-active");
          //if user presss up arrow key
          } else if (e.keyCode == 38) {
            currentFocus--;
            if (!x)
              return false;
            //need to check to make sure not out of bounds
            //will make not active if moving away from element
            x[currentFocus+1].classList.remove("autocomplete-active");
            if (currentFocus >= x.length)
              currentFocus = 0;
            if (currentFocus < 0)
              currentFocus = (x.length - 1);
            //will make active if moving to that layer
            x[currentFocus].classList.add("autocomplete-active");
          } else if (e.keyCode == 13) {
            e.preventDefault();
            if (currentFocus > -1) {
              if (x)
                x[currentFocus].click();
            }
          }
      });
      //remove auto list if lose focus
      document.addEventListener("click", function (e) {
        let x = document.getElementsByClassName("autocomplete-items")[0];
          if (x != e.target && inp != e.target) {
            x.parentNode.removeChild(x);
          }
      });
    }

    /*An array containing all the country names in the world:*/
    var teamNames = []
    
    {% for pokemon in pokemons %}
      teamNames.push("{{pokemon.name}}")
    {% endfor %}

    /*initiate the autocomplete function on the "myInput" element, and pass along the countries array as possible autocomplete values:*/
    autocomplete(document.getElementById("searchBar"), teamNames);
    </script>

</body>
</html>
